In [1]:
import pandas as pd

***Turn NFL full-season defensive data into cleaned tables representing teams that made/ didn't make playoffs (two tables)***

In [2]:
df_2009 = pd.read_csv('data/2009.csv')

In [3]:
df_2009.head()

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G,year
0,New York JetsNY Jets,16,236,14.8,1578,98.6,2459,153.7,4037,252.3,2009
1,Green Bay PackersGreen Bay,16,297,18.6,1333,83.3,3218,201.1,4551,284.4,2009
2,Baltimore RavensBaltimore,16,261,16.3,1492,93.2,3316,207.2,4808,300.5,2009
3,Cincinnati BengalsCincinnati,16,291,18.2,1573,98.3,3249,203.1,4822,301.4,2009
4,Pittsburgh SteelersPittsburgh,16,324,20.2,1438,89.9,3447,215.4,4885,305.3,2009

In [4]:
filtered_2009 = df_2009[['Team', 'Gms', 'Pts/G', 'Yds/G', 'year']]

In [5]:
filtered_2009

                                Team  Gms  Pts/G  Yds/G  year
0               New York JetsNY Jets   16   14.8  252.3  2009
1         Green Bay PackersGreen Bay   16   18.6  284.4  2009
2          Baltimore RavensBaltimore   16   16.3  300.5  2009
3       Cincinnati BengalsCincinnati   16   18.2  301.4  2009
4      Pittsburgh SteelersPittsburgh   16   20.2  305.3  2009
5         Minnesota VikingsMinnesota   16   19.5  305.5  2009
6               Denver BroncosDenver   16   20.2  315.0  2009
7          Carolina PanthersCarolina   16   19.2  315.8  2009
8               Dallas CowboysDallas   16   15.6  315.9  2009
9      Washington RedskinsWashington   16   21.0  319.7  2009
10   New England PatriotsNew England   16   17.8  320.2  2009
11   Philadelphia EaglesPhiladelphia   16   21.1  321.1  2009
12             Houston TexansHouston   16   20.8  324.9  2009
13          New York GiantsNY Giants   16   26.7  324.9  2009
14  San Francisco 49ersSan Francisco   16   17.6  326.4  2009
15       San Diego ChargersSan Diego   16   20.0  327.0  2009
16              Chicago BearsChicago   16   23.4  337.8  2009
17    Indianapolis ColtsIndianapolis   16   19.2  339.2  2009
18              Buffalo BillsBuffalo   16   20.4  340.6  2009
19          Arizona CardinalsArizona   16   20.3  346.4  2009
20            Atlanta FalconsAtlanta   16   20.3  348.9  2009
21               Miami DolphinsMiami   16   24.4  349.3  2009
22  Jacksonville JaguarsJacksonville   16   23.8  352.3  2009
23           Seattle SeahawksSeattle   16   24.4  356.4  2009
24     New Orleans SaintsNew Orleans   16   21.3  357.8  2009
25            Oakland RaidersOakland   16   23.7  361.9  2009
26     Tampa Bay BuccaneersTampa Bay   16   25.0  365.6  2009
27         Tennessee TitansTennessee   16   25.1  365.6  2009
28           St. Louis RamsSt. Louis   16   27.2  372.8  2009
29     Kansas City ChiefsKansas City   16   26.5  388.2  2009
30         Cleveland BrownsCleveland   16   23.4  389.3  2009
31              Detroit LionsDetroit   16   30.9  392.1  2009

In [6]:
Playoff = ['True', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'True', 'True', 'False', 'False', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False']

In [7]:
filtered_2009['Playoff'] = Playoff

/Users/davidmcbride/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
filtered_2009.head(10)

                            Team  Gms  Pts/G  Yds/G  year Playoff
0           New York JetsNY Jets   16   14.8  252.3  2009    True
1     Green Bay PackersGreen Bay   16   18.6  284.4  2009    True
2      Baltimore RavensBaltimore   16   16.3  300.5  2009    True
3   Cincinnati BengalsCincinnati   16   18.2  301.4  2009    True
4  Pittsburgh SteelersPittsburgh   16   20.2  305.3  2009   False
5     Minnesota VikingsMinnesota   16   19.5  305.5  2009    True
6           Denver BroncosDenver   16   20.2  315.0  2009   False
7      Carolina PanthersCarolina   16   19.2  315.8  2009   False
8           Dallas CowboysDallas   16   15.6  315.9  2009    True
9  Washington RedskinsWashington   16   21.0  319.7  2009   False

In [9]:
Playoff_tb = filtered_2009.loc[lambda filtered_2009: filtered_2009['Playoff'] == 'True']
Playoff_tb.head(5)

                           Team  Gms  Pts/G  Yds/G  year Playoff
0          New York JetsNY Jets   16   14.8  252.3  2009    True
1    Green Bay PackersGreen Bay   16   18.6  284.4  2009    True
2     Baltimore RavensBaltimore   16   16.3  300.5  2009    True
3  Cincinnati BengalsCincinnati   16   18.2  301.4  2009    True
5    Minnesota VikingsMinnesota   16   19.5  305.5  2009    True

In [10]:
no_Playoff_tb = filtered_2009.loc[lambda filtered_2009: filtered_2009['Playoff'] == 'False']
no_Playoff_tb.head(5)

                             Team  Gms  Pts/G  Yds/G  year Playoff
4   Pittsburgh SteelersPittsburgh   16   20.2  305.3  2009   False
6            Denver BroncosDenver   16   20.2  315.0  2009   False
7       Carolina PanthersCarolina   16   19.2  315.8  2009   False
9   Washington RedskinsWashington   16   21.0  319.7  2009   False
12          Houston TexansHouston   16   20.8  324.9  2009   False

***Get averaged data for both playoff/ non-playoff tables for future comparisons (2009)***

In [11]:
pts_avg = Playoff_tb['Pts/G'].mean()
pts_avg = round(pts_avg, 2)
yds_avg = Playoff_tb['Yds/G'].mean()
yds_avg = round(yds_avg, 2)
print('The teams that made the playoffs allowed {:2.2f} points/ game'.format(pts_avg))
print('The teams that made the playoffs allowed {:2.2f} yards/ game'.format(yds_avg))

The teams that made the playoffs allowed 18.56 points/ game
The teams that made the playoffs allowed 314.31 yards/ game

In [12]:
pts_avg2 = no_Playoff_tb['Pts/G'].mean()
pts_avg2 = round(pts_avg2, 2)
yds_avg2 = no_Playoff_tb['Yds/G'].mean()
yds_avg2 = round(yds_avg2, 2)
print('The teams that did NOT make the playoffs allowed {:2.2f} points/ game'.format(pts_avg2))
print('The teams that did NOT make the playoffs allowed {:2.2f} yards/ game'.format(yds_avg2))

The teams that did NOT make the playoffs allowed 23.21 points/ game
The teams that did NOT make the playoffs allowed 347.64 yards/ game

In [20]:
data = {'avg_stats': ['allowed_pts/G', 'allowed_yds/G'], 
        'Playoff_teams': [pts_avg, yds_avg],
        'non_Playoff_teams': [pts_avg2, yds_avg2]}
diff_2009 = pd.DataFrame(data=data)
diff_2009.set_index('avg_stats', inplace=True)
diff_2009

               Playoff_teams  non_Playoff_teams
avg_stats
allowed_pts/G          18.56              23.21
allowed_yds/G         314.31             347.64

In [14]:
minus = diff_2009['non_Playoff_teams'] - diff_2009['Playoff_teams']
data_sub = round(minus, 2)
diff_2009['Difference'] = data_sub

In [15]:
diff_2009

               Playoff_teams  non_Playoff_teams  Difference
avg_stats
allowed_pts/G          18.56              23.21        4.65
allowed_yds/G         314.31             347.64       33.33

In [16]:
# maybe add entire nfl averages on for the 2009-season,
# and compare the playoff/ non-playoff averages.